frontEnd/.idea/.gitignore
frontEnd/.idea/.gitignore~
frontEnd/.idea/frontEnd.iml
frontEnd/.idea/misc.xml
frontEnd/.idea/modules.xml
frontEnd/.idea/vcs.xml
backEnd/together/src/test/resources/google-drive-credentials.json
